In [1]:
import pandas as pd
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv',index_col=[2,1])
df.head()

                         ID  Rating
Office    Department
New Delhi Finance     U2F26     3.4
          Marketing   U2M61     3.9
          Sales       U1S15     2.8
Mumbai    HR          U1H87     2.1
New Delhi Sales       U1S51     4.6